@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="/css/index.css" />

<div class="text-center">
    <h1 class="display-4">Gothenburg library</h1>

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for books" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>


    </form>
</div>

